<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Agility.Web Config Group -->
    <sectionGroup name="agility.web">
      <section name="settings" type="Agility.Web.Configuration.Settings, Agility.Web" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="false" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <agility.web>
    <settings applicationName="Agility Content Import Console App"  developmentMode="false" contentCacheFilePath="c:\AgilityContent\">
      <websites>
        <add websiteName="{{websiteName}}" securityKey="{{securityKey}}" />
      </websites>
      <trace traceLevel="Verbose" logFilePath="c:\AgilityLogs\Import.log" emailErrors="false"></trace>
    </settings>
  </agility.web>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>